body
{
    background-color: rgb(52,189,235);
}

#HomePageContent
{
    position: absolute;
    color: white;
    text-align: center;
    margin-top: 15%;
    right:12%;

}

#homePageWaldo 
{
    position: absolute;
    width: 50%;
    bottom: 10px
}

button
{
    cursor: pointer;
    width: 25%;
    height: 50px;
    border-radius: 10%;
}

button:hover
{
    background-color: green;
}

#GameBody
{
    zoom: 50%;
}

#menu {
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 9;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid #d3d3d3;
    text-align: center;
    width: 250px;
    height: 300px;
    color: white;
  }

  #menuheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: rgba(0,0,255);
    color: #fff;
    font-size: 30px;
  }

  #gameButton {
    width: 200px;
    margin-top: 20px;
    font-size: 20px;
  }

  #gameButton2 {
    width: 200px;
    margin-top: 10px;
    font-size: 20px;
  }

  #time {
    width: 200px;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 32px;
  }

  #Waldo:hover {
    cursor:pointer;
  }

  #gameimage {
    
  }

  #animatedHeader {
    color: white;
    width: 350px;
    font-size: 35px;
    text-align: center;
    position: absolute;
    animation-name: winner;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes winner {
    0% {color: white; left: 18%; top: 15%;}
    25% {color: red; left: 60%; top: 15%;}
    50% {color: green; left: 60%; top: 48%;}
    75% {color: purple; left: 18%; top: 48%;}
    100% {color: white; left:18%; top: 15%;}
  }

  #endButton {
    width: 150px;
    position: absolute;
    left: 45%;
    top: 40%;
    margin: auto;
  }

  #imagecontainer {
    position: absolute;
  }
