body, h1, h2, p {
	margin: 0;
	padding: 0;
	font-family: Garamond, serif;
}

body {
background-color: #f2f2f2;
font-family: Arial, sans-serif;
}

header {
background-image: url('https://img.freepik.com/free-photo/smooth-stucco-wall_1194-7087.jpg');
color: #fff;
text-align: center;
padding: 100px;
background-size: cover;
}

header h1, h2 {
	background-color: rgba(145, 145, 145, 0.332);
}

header h1 {
	border: 3px solid white;
	border-style: solid solid hidden solid;
	padding-top: 10px;
	margin-right: 25%;
	margin-left: 25%;
}

header h2 {
	border: 3px solid white;
	border-style: hidden solid solid solid;
	padding-bottom: 10px;
	margin-right: 25%;
	margin-left: 25%;
}

.summary, .preamble {
	background-color: #f2f2f2;
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main {
background-color: #fff;
padding: 20px;
margin: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
background-color: #f2f2f2;
padding: 20px;
margin: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
color: white;
background-color: rgba(191, 179, 179, 0.94);
border: 1px solid black;
border-radius: 5px;
}

a:hover {
text-decoration: underline;
color: black;
}

footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 10px 0;
}

h1 {
font-size: 32px;
}

h2 {
font-size: 24px;
}

p {
margin-bottom: 15px;
font-size: 18px;
}
